
.formContainer{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

}

.formWraper{
  
    background-color: #dddddd;
    padding:20px;
    border-radius: 10px;
    flex-basis: 380px;
}


.signinInput{
    background-color: #e7eae5;
    height: 40px;
    color: gray;
    width: 100%;
    box-sizing: border-box;
    padding-left: 10px;


    

}



.btn{
    border-width: 1px;
    border-style: solid;
    border-color: dodgerblue;
    color: dodgerblue;
    height: 40px;
}


.flashMsg{
    background-color: #e7eae5;
    border-radius: 5px;
    padding: 8px;
    color: red;
    border-color: red;
    border-width: 2px;
    border-style:dashed;

}
