.item{
    display: grid;
    border-width: 1px;
    border-style: solid;
    border-width: 0px 0px 0px 0px;
}

.item:hover{
    background-color: #dddddd;
    cursor: pointer;
}

.tabTitle{
    display: inline-block;
    margin: auto;
    font-size: 20px;


}


.tabContainer{
    display: grid;
    min-height: 100vh;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 60px;
}


.tabColumn:nth-child(4){
    grid-column: span 3; /* Here we conjuct two rows */
    /* To center the content inside the grid item create a grid and use align content property n he grid item */

}