.categoryContainer{
    margin-top: 10px;
    font-family: "Lucida Console", "Courier New", monospace;
    border-bottom: #dddddd;
    border-bottom-style: solid;
    border-bottom-width: 1px;
}

.categoryHeader p{
    font-size: 20px;
    /*background-color:darkcyan;*/
    margin: auto 5px;
}

.categoryHeader h1{
    /*background-color:darkcyan;*/
    margin: auto 5px;
    color: dodgerblue;
}

.categoryHeader h1:hover{
    cursor: pointer;
    color: #e7eae5;
}



.categoryBody{
    /*background-color: coral; */
    min-height: 50px;
}

.categoryItem {
    height: 45px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-radius: 5px;
}

.addInputContainer, .updateInputContainer, .deleteInputContainer{

    display: flex;
    margin: 5px 0 5px 0;
    border-radius: 5px;
    height: 40px;
}

.addInputContainer input, .updateInputContainer input, .deleteInputContainer input{
    background-color: #dddddd;
    outline: none;
    flex: 8;
    margin-right: 5px;
    border-radius: 5px;
    border-style: solid;
    padding-left: 10px;
    border-color: #dddddd;
    box-sizing: border-box;
    
}

.addInputContainer button, .updateInputContainer button, .deleteInputContainer button{
    flex: 1;
    border-style: solid;
    border-radius: 5px;
    border-width: 0.01px;
    border-color: dodgerblue;
    color: dodgerblue;
    background-color: #e7eae5;
}

.deleteInputContainer button{
    border-color: red;
    color: red;
    background-color: #e7eae5;

}

.updateInputContainer div, .deleteInputContainer div{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.addInputContainer button h1{
    margin:auto;
}

.categoryItem:hover{
    background-color: #dddddd
}

.categoryItem p{
    margin: auto auto auto 20px;
}

.btnContainers{
    margin: 0 20px 0 0;
    width: 15%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btnContainers i:hover, .updateInputContainer div i:hover, .deleteInputContainer div i:hover{
    cursor: pointer;
    
}



.categoryHeader{
    height: 50px;
    background-color: #dddddd;
    border-radius: 8px;
    display: flex;
    flex-direction: row; 
    justify-content: space-between;
    padding: 0 10px;
}



