.boxContainer{

    background-color: #dddddd;
    display: flex;
    flex-direction: column;
    height: 100%;
    border-radius: 10px;
    
    
}

.boxHead, .boxData{

    flex: 1;
    display: flex;
}



.boxData p{
    font-weight: bold;
    font-size: 35px;
    display: inline-block;
    margin: 0 10px auto 20px;
}

.boxHead p{
    font-weight: 500;
    margin: auto 10px auto 20px;

}

/*
width: auto;
    height: 100%;
    padding: 20px;
    border-radius: 10px;
*/