
 .tableContainer{
    margin: 20px;
    border-radius: 10px;
    border-color: #dddddd;
    border-width: 1px;
    border-style: solid;
    overflow-x: auto;
    
}

.tableHeader{
    /*background-color: coral;*/
    margin: 20px 20px 0px 20px;
    display: flex;
    flex-direction: row;


}

  .tableHeader h3{
      font-size: 30px;
      font-weight: 600;
      margin: auto auto auto 0;
  }

  .tableHeader select, .tableHeader button{
    width: 120px;
    height: 35px;
    border-color: #dddddd;
    border-radius: 5px;
    border-style: solid;
    background-color: #dddddd;
    margin-left: 10px;
}

.tableHeaderRight{
    display: flex;
    align-items: center;
}

.tableHeader button{
    border-color: #dddddd;
    display: flex;

}

.tableHeader button h1{
    margin: auto;
}

.edtBtn, .dltBtn {
    border-style: solid;
    border-radius: 5px;
    border-width: 0.01px;
}
.edtBtn{
    border-color: dodgerblue;
    color: dodgerblue;
}

.dltBtn{
    border-color: red;
    color: red;
}

@media screen and (max-width: 768px) {
    .tableHeader select, .tableHeader button{
        width: 80px;
        height: 30px;
       
    
    }

    .tableContainer{
        margin: 20px 0 20px 0;
    }

}



